<div class="row">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState(true)" (closed)="panelOpenState(false)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="logos">
                        <img src="assets/github-mark.svg" alt="">
                        <img src="assets/GitHub_Logo.png" alt="">

                    </div>
                    <div class="status">
                        <mat-icon *ngIf="userData.githubId" style="color:#41bb09">check_circle</mat-icon>
                        <mat-icon (click)="updateToken($event);$event.stopPropagation();">restore</mat-icon>

                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    <div class="userstats">
                        <span>Admin: Last Synced:{{ localDate | date:'yyyy-MM-dd hh:mm a' }}</span>
                        <span>Sync Type:{{userData.syncType}}</span>
 
                    </div>
                 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: end;padding: 10px;">
                <button style="margin-bottom: 10px;"  color="primary" (click)="disconnect()"  mat-raised-button>Remove<mat-icon>remove_circle</mat-icon>
                </button>
            </div>
            <div>
                <div style="padding:0 20px">
                    <h1 class="table-header"  color="primary" (click)="listContributions()" >Github Projects<mat-icon>file_download</mat-icon>
                    </h1>
                    <span>specify which products we should pull from when synchronizing data into sredio</span>
                </div>
                
                <ag-grid-angular
                    style="width: 100%; height: 400px;padding: 18px;"
                    class="ag-theme-quartz"
                    [rowData]="objectiveArowData"
                    [columnDefs]="objectiveAColumns"
                    [rowSelection]="rowSelection"
                    (rowSelected)="onRepoSelect($event)"
                    [defaultColDef]="defaultColDef"
                    
                    >
                </ag-grid-angular>
            </div>
            <div style="padding: 20px 0;">
                <ag-grid-angular
                    style="width: 100%; height: 400px;padding: 18px;"
                    class="ag-theme-quartz"
                    [rowData]="objectiveBrowData"
                    [columnDefs]="objectiveBColumns"
                    [rowSelection]="rowSelection"
                    (rowSelected)="onRepoSelect($event)"
                    [defaultColDef]="defaultColDef"
                    
                    >
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>

